*{
  margin: 0;
  padding: 0;
}

button{
  outline: none !important;
  border: none !important;
  padding: 5px 10px;
  border-radius: 3px
}

li{
  list-style: none;
}

input[type='text']{
  position: relative;
  top: 2px;
  margin-top: 2px;
  outline: none;
  padding: 5px 5px;
  margin-right: 10px;
}
label{
  font-weight: bold;
}
span{
  font-weight: bold;
  margin-top: 4px;
}